# Introduction of Seaborn

As you have just read, Seaborn is complimentary to Matplotlib and it specifically targets statistical data visualization. But it goes even further than that: Seaborn extends Matplotlib and that’s why it can address the two biggest frustrations of working with Matplotlib. Or, as Michael Waskom says in the “introduction to Seaborn”: “If matplotlib “tries to make easy things easy and hard things possible”, seaborn tries to make a well-defined set of hard things easy too.”

One of these hard things or frustrations had to do with the default Matplotlib parameters. Seaborn works with different parameters, which undoubtedly speaks to those users that don’t use the default looks of the Matplotlib plots.

# Liabraries of Seaborn

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

Creating Dataframe to work with

In [2]:
x= [10,20,30,40,50,60]
y= [25,15,35,45,65,55]
z= [12,11,13,114,15,16]

In [3]:
d={"s": x, "r": y,"t": z}

In [4]:
data= pd.DataFrame(d)

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data

    s   r    t
0  10  25   12
1  20  15   11
2  30  35   13
3  40  45  114
4  50  65   15
5  60  55   16

We have created the data for visualization. Next session we are going to see graphs.